site_name: "Projecte DAW1"
site_url: https://fpmislata-daw1-projecte.github.io/projecte-daw1/
repo_name: projecte-daw1
repo_url: https://github.com/fpmislata-daw1-projecte/projecte-daw1
copyright: CC BY-NC-SA 4.0 (Reconeixement - NoComercial - CompartirIgual)  Equip educatiu DAW1 del CIPFP Mislata

exclude_docs: |
  _*

extra_css:
  - assets/styles/styles.css

extra:
  social:
    - icon: octicons/organization-24
      link: https://www.fpmislata.com/wordpress/
      name: CIPFP Mislata
    - icon: fontawesome/brands/github
      link: https://github.com/projecte-daw1
      name: projecte-daw1 a GitHub


theme:
  name: material
  icon:
    logo: fontawesome/solid/people-group
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: teal
      scheme: default 
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: teal
      scheme: slate
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference

  features:
    - announce.dismiss
    - content.code.copy
    - content.code.annotate
    - content.tabs.link
    - content.tooltips
    - navigation.top
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - toc.follow
    - search.share
    - search.suggest

plugins:
  - search
  - alias:
      use_anchor_titles: true
  - i18n:
      languages:
        - locale: ca
          default: true
          name: Valenci
          admonition_translations:
            info: Informaci贸
            note: Nota
            abstract: Resum
            tip: Consell
            success: xit
            question: Pregunta
            warning: Advert猫ncia
            failure: Error
            danger: Perill
            example: Exemple
            quote: Cita
  - social:
      enabled: !ENV [CI, false]
  - tags
  - git-revision-date-localized
  - git-committers:
      enabled: !ENV [CI, false]
      repository: fpmislata-daw1-projecte/projecte-daw1
      branch: main
      exclude_committers:
        - web-flow

markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - markdown_grid_tables
  - sane_lists
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.blocks.html
  - pymdownx.blocks.caption:
      auto: true
      types:
        - caption
        - name: attribution
          classes: attribution spell-ignore
        - name: figure-caption
          prefix: 'Figura {}.'
        - name: shadow-figure-caption
          prefix: 'Figura {}.'
          classes: 'shadow'
        - name: table-caption
          prefix: 'Taula {}.'
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.fancylists:
      inject_class: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink
  - pymdownx.saneheaders
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - rubric
  - toc:
      permalink: true

nav:
  - Inici: 
    - index.md
    - Gesti贸 del projecte:
      - gestio/formacio_grups.md
      - gestio/scrum.md
      - gestio/eines.md
      - gestio/control_versions.md
    - Implementaci贸:
      - implementacio/bd.md
      - implementacio/arquitectura.md
      - implementacio/proves.md
      - implementacio/interficie_web.md
      - implementacio/desplegament.md
      - implementacio/automatitzacio.md
  - Calendari:
    - calendari/index.md
    - calendari/sprint0.md
    - calendari/sprint1.md
    - calendari/sprint2.md
    - calendari/sprint3.md
    # - calendari/sprint4.md
    # - calendari/sprint5.md
  - Avaluaci贸:
    - avaluacio/index.md
    - R煤briques espec铆fiques:
      - avaluacio/rubriques/bd.md
      - avaluacio/rubriques/ed.md
      - avaluacio/rubriques/llmq.md
      - avaluacio/rubriques/prg.md
      - avaluacio/rubriques/proj.md
      - avaluacio/rubriques/si.md
