.md-typeset figure > *,
.md-typeset figcaption > * {
    margin-top: 0;
    margin-bottom: 0;
}

.md-typeset figure {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.md-typeset figcaption {
  color: var(--md-default-fg-color--light);
}

.md-typeset figure.shadow > p img,
.md-typeset figure.shadow > p svg {
    border-radius: 0.2rem;
    box-shadow: var(--md-shadow-z2);
}

.md-typeset figure.no-shadow > p > img,
.md-typeset figure.no-shadow > p > svg {
    border-radius: revert-layer;
    box-shadow: revert-layer;
}

.md-typeset figure.attribution {
    gap: 0;
}

.md-typeset figure.attribution figcaption,
.md-typeset figcaption.attribution {
  text-align: left;
  font-size: 0.75em;
  margin: unset;
  max-width: unset;
}
